#### CATBOOST AND XGBOOST

In [1]:
# importing all the required packages

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

from catboost import CatBoostClassifier
from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score, plot_roc_curve

Load data

In [2]:
df = pd.read_csv("./data.csv")
df.head()

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,Placed,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
0,38,47,13,53,35,7,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,60,70,60,50,40,33,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,58,73,33,67,30,60,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,36,33,40,33,45,33,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,60,60,55,65,40,73,11,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [4]:
df.columns

Index(['Aptitude', 'English', 'Quantitative', 'Analytical', 'Domain',
       'Computer Fundamental', 'Coding', 'Placed',
       'Branch_Agricultural Engineering',
       'Branch_Applied Electronics and Instrumentation',
       'Branch_Automobile Engineering', 'Branch_Civil Engineering',
       'Branch_Computer Science Engineering', 'Branch_Electrical Engineering',
       'Branch_Electrical and Electronics Engineering',
       'Branch_Electronics and Communications Engineering',
       'Branch_Electronics and Instrumentation Engineering',
       'Branch_Information Technology',
       'Branch_Instrumentation and Control Engineering', 'Branch_MCA',
       'Branch_Mechanical Engineering', 'Degree_B. Tech.', 'Degree_BE',
       'Degree_M. Tech.', 'Degree_MCA'],
      dtype='object')

Data Exploration (EDA or Exploratory Data Analysis)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Aptitude                                            1672 non-null   int64
 1   English                                             1672 non-null   int64
 2   Quantitative                                        1672 non-null   int64
 3   Analytical                                          1672 non-null   int64
 4   Domain                                              1672 non-null   int64
 5   Computer Fundamental                                1672 non-null   int64
 6   Coding                                              1672 non-null   int64
 7   Placed                                              1672 non-null   int64
 8   Branch_Agricultural Engineering                     1672 non-null   int64
 9   Branch_Applied Electronics and Instrumentation      1672 non-null   int64
 10  Branch_Automobile Engineering                       1672 non-null   int64
 11  Branch_Civil Engineering                            1672 non-null   int64
 12  Branch_Computer Science Engineering                 1672 non-null   int64
 13  Branch_Electrical Engineering                       1672 non-null   int64
 14  Branch_Electrical and Electronics Engineering       1672 non-null   int64
 15  Branch_Electronics and Communications Engineering   1672 non-null   int64
 16  Branch_Electronics and Instrumentation Engineering  1672 non-null   int64
 17  Branch_Information Technology                       1672 non-null   int64
 18  Branch_Instrumentation and Control Engineering      1672 non-null   int64
 19  Branch_MCA                                          1672 non-null   int64
 20  Branch_Mechanical Engineering                       1672 non-null   int64
 21  Degree_B. Tech.                                     1672 non-null   int64
 22  Degree_BE                                           1672 non-null   int64
 23  Degree_M. Tech.                                     1672 non-null   int64
 24  Degree_MCA                                          1672 non-null   int64
dtypes: int64(25)
memory usage: 326.7 KB

In [6]:
df.describe()

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,Placed,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
count,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,...,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000,1672.000000
mean,50.365431,55.522727,40.816388,54.755383,38.177033,39.109450,14.701555,0.458732,0.001794,0.031100,...,0.261364,0.007177,0.070574,0.005383,0.008373,0.103469,0.962321,0.020335,0.008971,0.008373
std,11.959230,16.143194,17.626530,16.236267,13.607158,14.890081,28.214321,0.498443,0.042333,0.173641,...,0.439509,0.084438,0.256189,0.073192,0.091149,0.304661,0.190477,0.141185,0.094319,0.091149
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42.000000,47.000000,27.000000,47.000000,30.000000,27.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,51.000000,60.000000,40.000000,55.000000,35.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,58.000000,67.000000,53.000000,67.000000,45.000000,47.000000,20.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,84.000000,93.000000,100.000000,93.000000,85.000000,93.000000,100.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
X = df.drop("Placed", axis=1)
y = df["Placed"]

In [8]:
X.shape, y.shape

((1672, 24), (1672,))

In [9]:
X.head()

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,Branch_Automobile Engineering,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
0,38,47,13,53,35,7,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,60,70,60,50,40,33,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,58,73,33,67,30,60,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,36,33,40,33,45,33,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,60,60,55,65,40,73,11,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Placed, dtype: int64

In [11]:
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1337, 24), (1337,), (335, 24), (335,))

In [17]:
models = {
    "CatBoostClassifier": CatBoostClassifier(verbose=False),
    "XGBClassifier": XGBClassifier()
}

In [18]:
def fit_and_score(models, X_train, y_train, X_test, y_test):
    """
    This function will fit the model with the training dataset and eestimate the score for the test dataset
    """

    model_scores = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        model_scores[name] = model.score(X_test, y_test)

    return model_scores

In [19]:
model_scores = fit_and_score(models, X_train, y_train, X_test, y_test)

In [20]:
model_scores

{'CatBoostClassifier': 0.9134328358208955, 'XGBClassifier': 0.9373134328358209}