#### NAIVE BAYES CLASSIFIER

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [15]:
#importing data
data = pd.read_csv("./Datasets/data.csv")

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Aptitude                                            1672 non-null   int64
 1   English                                             1672 non-null   int64
 2   Quantitative                                        1672 non-null   int64
 3   Analytical                                          1672 non-null   int64
 4   Domain                                              1672 non-null   int64
 5   Computer Fundamental                                1672 non-null   int64
 6   Coding                                              1672 non-null   int64
 7   Placed                                              1672 non-null   int64
 8   Branch_Agricultural Engineering                     1672 non-null   int64
 9   Branch_Applied Electronics and Instrumentation      1672 non-null   int64
 10  Branch_Automobile Engineering                       1672 non-null   int64
 11  Branch_Civil Engineering                            1672 non-null   int64
 12  Branch_Computer Science Engineering                 1672 non-null   int64
 13  Branch_Electrical Engineering                       1672 non-null   int64
 14  Branch_Electrical and Electronics Engineering       1672 non-null   int64
 15  Branch_Electronics and Communications Engineering   1672 non-null   int64
 16  Branch_Electronics and Instrumentation Engineering  1672 non-null   int64
 17  Branch_Information Technology                       1672 non-null   int64
 18  Branch_Instrumentation and Control Engineering      1672 non-null   int64
 19  Branch_MCA                                          1672 non-null   int64
 20  Branch_Mechanical Engineering                       1672 non-null   int64
 21  Degree_B. Tech.                                     1672 non-null   int64
 22  Degree_BE                                           1672 non-null   int64
 23  Degree_M. Tech.                                     1672 non-null   int64
 24  Degree_MCA                                          1672 non-null   int64
dtypes: int64(25)
memory usage: 326.7 KB

In [31]:
data.head()

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,Placed,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
0,38,47,13,53,35,7,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,60,70,60,50,40,33,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,58,73,33,67,30,60,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,36,33,40,33,45,33,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,60,60,55,65,40,73,11,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
X = data.drop("Placed",axis=1)
y = data["Placed"]

In [18]:
np.random.seed = 42
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [19]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1337, 24), (1337,), (335, 24), (335,))

In [25]:
np.random.seed=42
model = GaussianNB()

In [26]:
model.fit(X_train,y_train)

GaussianNB()

In [27]:
y_preds = model.predict(X_test)

In [28]:
model.score(X_test, y_test)*100

82.08955223880598